<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width,initial-scale=1" />
 <title>database_medaka</title>
 <!-- BootstrapのCSS読み込み -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
 <style>
.bgcolor {
    background-color: whitesmoke;
    border-radius:6px;
  }
 </style>
</head>

<body>
 <!-- ヘッダー -->
 <header class="container">
  <h1 class="header-1 bgcolor text-center p-5">database_medaka</h1>
  <p class="text-center"><a href="/index.html">HOME</a></h1>
 </header>

 <!-- 本文 -->
 <article class="container">
   <section class="row">
    <h2>medaka table</h2>
    <table class="table table-striped">
     <tr><th>id</th><th>path</th><th>methods</yh><th>query</th><th>info</th></tr>
     {{medaka_table}}
    </table>
   </section>
   <br>
   <section class="row">
    <h2>nimble table</h2>
    <table class="table table-striped">
     <tr><th>id</th><th>package</th><th>installed</th><th>info</th></tr>
      {{nimble_table}}
    </table>
   </section>
 </article>

 <!-- フッター -->
 <footer class="container">
  <p class="text-center mt-4"><a href="#top">TOP</a></p>
  <p>&nbsp;</p>
 </footer>
 <!-- BootstrapのJS読み込み -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
